#parent {
    height: 40px;
    white-space: nowrap;
    overflow: hidden; 
    font-size: 28px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
  }
  
  #border {
    border-bottom: solid 3px #5abb75;
    position: absolute;
    right: -7px;
    width: 20px;
  }

  #parent {
    animation: animated-text 2s steps(10,end) 1s 1 normal both
  }
  
  #border {
     animation: animated-cursor 600ms steps(10,end) infinite;
  }
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 150px;}
  }
  
  @keyframes animated-cursor{
    from{border-bottom-color: #5abb75;}
    to{border-bottom-color: transparent;}
  }


  ol {
    counter-reset: li; 
    list-style: none; 
    padding: 10px;
    /* text-shadow: 0 1px 0 rgba(255,255,255,.5); */
  }
  
  ol li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background-image: linear-gradient(50deg, #C5D7BD, #FEFFDE,#C5D7BD);
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
  }
  
  /* ol li:hover { background: #E9E4E0; } */
  ol li:hover:before { transform: rotate(360deg); }
  ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #5abb75;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }



 
  div.c{
    position: relative;
    /* margin:2em; */
  }
  input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    visibility: 0;
  }
  p{
    /* background:steelblue;
    color:white;
    padding:1em; */
    position: relative;
  }
  label::before{
    content:"";
    display: inline-block;
    border: 15px solid transparent;
    border-left:20px solid white;
  }
  label{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }
  div.p{
    max-height:0px;
    overflow: hidden;
    transition:max-height 0.5s;
    /* background-image: linear-gradient(50deg, #C5D7BD, #FEFFDE,#C5D7BD);
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2); */
  }
  div.p p {
    /* padding:2em; */
  }
  input:checked ~ h1 label::before{
    border-left:15px solid transparent;
    border-top:20px solid white;
    margin-top:5px;
    margin-right:10px;
  }
  input:checked ~ p ~ div.p{
    max-height:280px;
  }
  /* a{
    color:steelblue;
  } */