.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 3px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    align-items: center;
  }
  
  .icon-bar a:hover {
    background-color: #5abb75;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }

  .cardstyle{
      height: 100%;
      margin-left: 8%;
      background-image: linear-gradient(50deg, #C5D7BD, #FEFFDE,#C5D7BD);
  }
  body{
      background: url('./background.svg') no-repeat;
      background-size: cover;
  }